@* (c) 2020 Manabu Tonosaki *@
@* Licensed under the MIT license. *@
@using System.Security.Principal

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        var idx = User.Identity.Name?.IndexOf("@") ?? 0;
        var name = idx > 0 ? User.Identity.Name?.Substring(0, idx) ?? "n/a" : User.Identity.Name;

        <li class="nav-item">
            <span class="nav-link text-black-50" style="white-space: nowrap;">Hi, @name</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut" style="white-space: nowrap;">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn" style="white-space: nowrap;">Sign in</a>
        </li>
    }
</ul>
