@{
// (c) 2020 Manabu Tonosaki
// Licensed under the MIT license.

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Single?l=location0001">Single Page - location0001</a></p>
</div>
